
@{
    ViewBag.Title = "Vending Machine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Vending Machine Kata</h1>
    <p class="lead">Feel free to play around with the vending machine.</p>
</div>


<div class="row">
    <div class="col-md-6">
        @Html.Partial("GetProducts.cshtml")
    </div>
    <div class="col-md-6">
        <div class="row">
            @Html.Partial("GetConsole.cshtml")
        </div>
        <div class="row">
            @Html.Partial("GetCoins.cshtml")
        </div>
        <div class="row">
            @Html.Partial("GetCollectionArea.cshtml")
        </div>
    </div>

</div>

<!-- Our script file-->
<script src="~/Scripts/Vending.js"></script>