@model List<VendingMachineKata.Models.Product>
@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using VendingMachineKata.Models;



<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">


        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "product-count" })) {



            @foreach (Product p in @Model)
            {
                <h2>@p.DisplayProduct</h2>
                }
        }
       
    </div>
</div>



@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="~/Scripts/Vending.js"></script>
    }

