@model List<VendingMachineKata.Models.Product>
@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using VendingMachineKata.Models;



<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      
         @foreach (Product p in @Model)
         {
            <div class="row">
                <h2>@p.DisplayProduct</h2>
                <button onclick="vend()" class="btn-primary" value="Select"></button>
            </div>
         }


     </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
       <div class="row">
            <span id="console"> Insert Coin</span>
       </div> 

        <div class="row">
            <select id="coin-select">
                @foreach (Coin c in @Model)
                {

                
                <option value="0.75"></option>
                <option></option>
                <option></option>
                }
            </select>
        </div> 

        <div class="row">
            <span id="console"> Insert Coin</span>
        </div> 

        <div class="row">
            <span id="console"> Insert Coin</span>
        </div> 
        
        

    </div>

</div>



@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="~/Scripts/Vending.js"></script>
    }

