@model List<VendingMachineKata.Models.Product>
@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using VendingMachineKata.Models;



<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">



        @foreach (Product p in @Model)
        {
            <h2>@p.DisplayProduct</h2>
        }
    </div>
</div>