
<div class="col-md-8">
    <label for="collection-area">
        Collection Area :
    </label>
    <span id="collection-area">

    </span>

</div>

<div class="col-md-4">
    <button onclick="clearCollection();" value="Collect">Collect</button>
</div>