
@{
    ViewBag.Title = "Vending Machine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Vending Machine Kata</h1>
    <p class="lead">Feel free to play around with the vending machine.</p>
</div>


<div class="row">
    <div class="col-md-6">
        @Html.Action("GetProducts")
    </div>
    <div class="col-md-6">
        <div class="row">
            @Html.Action("GetConsole")
        </div>
        <div class="row">
            @Html.Action("GetCoins")
        </div>
        <div class="row">
            @Html.Action("GetCollection")
        </div>
    </div>

</div>

<div class="row">
    <button onclick="refillVendingMachine();" value="Collect">Refill Vending Machine</button>
</div>

<!-- Our script file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="~/Scripts/Vending.js"></script>